  <div data-controller="app-name">
    <%= render Main::Hero::Component.new %>
    
    <br>
      
    <%= render Main::AppNameInput::Component.new %>
    
    <div id="rails-new-command-generator-holder" data-controller="clipboard" class="flex-col bg-gray-700 pt-3 z-50">
      
      <%= render Main::CommandLine::Output::Component.new(initial_state: @initial_state, state_translation: @state_translation) %>      
      <%= render Main::CommandLine::Buttons::Component.new %>
      <div class="animate-notice">Copied to Clipboard!</div>                
    </div>

    <%= render Main::Component.new(all_menu_cards_in_all_states: @all_menu_cards_in_all_states, initial_state: @initial_state, state_translation: @state_translation) %>                
  </div>