  <div data-controller="app-name">
    <%= render Shared::Hero::Component.new %>
    
    <br>
      
    <%= render Shared::AppNameInput::Component.new %>
    
    <div id="rails-new-command-generator-holder" data-controller="clipboard" class="flex-col bg-gray-700 pt-3 z-50">
      
      <%= render Shared::CommandLine::Output::Component.new(initial_state: @initial_state, state_translation: @state_translation, rails_bytes_combos: @rails_bytes_combos) %>      
      <%= render Shared::CommandLine::Buttons::Component.new %>
      <div class="animate-notice">Copied to Clipboard!</div>                
    </div>

    <ul id="tabs">
      <li id="tabs-classics">
        <%= render Tabs::Classics::Component.new(all_menu_cards_in_all_states: @all_menu_cards_in_all_states, initial_state: @initial_state, state_translation: @state_translation) %>    
      </li>
      <li id="tabs-main">
        <%= render Tabs::Main::Component.new(all_menu_cards_in_all_states: @all_menu_cards_in_all_states, initial_state: @initial_state, state_translation: @state_translation) %>
      </li>
    </ul>
    <%= render Shared::RailsBytesCombos::Component.new(rails_bytes_combos: @rails_bytes_combos) %>
    <%= render Shared::RailsBytesLocks::Component.new(rails_bytes_locks: @rails_bytes_locks) %>
  </div>