  <%= render Shared::Navbar::Component.new %>
  <div data-controller="app-name">
    <%= render Shared::Hero::Component.new %>
    
    <br>
      
    <%= render Shared::AppNameInput::Component.new %>
    
    <div id="rails-new-command-generator-holder" data-controller="clipboard" class="flex-col bg-gray-700 pt-3 z-50">
      
      <%= render Shared::CommandLine::Output::Component.new(initial_state: @initial_state, state_translation: @state_translation, rails_bytes_combos: @rails_bytes_combos) %>      
      <%= render Shared::CommandLine::Buttons::Component.new %>
      <div class="animate-notice">Copied to Clipboard!</div>                
    </div>
    
    <div data-controller="tabs" 
         data-tabs-active-tab="group inline-flex items-center py-4 px-1 border-b-2 border-red-600 font-bold text-sm text-red-700"
         data-tabs-inactive-tab="group inline-flex items-center py-4 px-1 border-b-2 border-transparent font-normal text-sm text-gray-500 hover:text-gray-700 hover:border-gray-300"
    >
      <%= render Tabs::Navigation::Component.new %>
    
    <%# <ul id="tabs">
      <li id="tabs-main"> %>
      <div id="tabs-main" data-target="tabs.panel">
        <%= render Tabs::Main::Component.new(all_menu_cards_in_all_states: @all_menu_cards_in_all_states, initial_state: @initial_state, state_translation: @state_translation) %>
      </div>
      <%# </li>
      <li id="tabs-classics" class="hidden"> %>
      <div id="tabs-classics" data-target="tabs.panel">
        <%= render Tabs::Classics::Component.new(all_menu_cards_in_all_states: @all_menu_cards_in_all_states, initial_state: @initial_state, state_translation: @state_translation) %>
      </div>
      <div id="tabs-power-user" data-target="tabs.panel">
        <%= render Tabs::PowerUser::Component.new(all_menu_cards_in_all_states: @all_menu_cards_in_all_states, initial_state: @initial_state, state_translation: @state_translation) %>
      </div>
      <div id="tabs-deployment" data-target="tabs.panel">
        <%= render Tabs::Deployment::Component.new %>
      </div>
      <div id="tabs-ci" data-target="tabs.panel">
        <%= render Tabs::Ci::Component.new %>
      </div>
      
      <%# </li>      
    </ul> %>
    </div>
    
    <%= render Shared::RailsBytesCombos::Component.new(rails_bytes_combos: @rails_bytes_combos) %>
    <%= render Shared::RailsBytesLocks::Component.new(rails_bytes_locks: @rails_bytes_locks) %>
    <%= render Shared::BaseStates::Component.new(base_states: @base_states) %>
  </div>