  <%= render Shared::Navbar::Component.new %>
  <div data-controller="app-name">
    <%= render Shared::Hero::Component.new %>
    
    <br>
      
    <%= render Shared::AppNameInput::Component.new %>
    
    <div id="rails-new-command-generator-holder" data-controller="clipboard" class="flex-col bg-deep-azure-zeta pt-3 z-50">
      
      <%= render Shared::CommandLine::Output::Component.new(initial_state: @initial_state, state_translation: @state_translation, rails_bytes_combos: @rails_bytes_combos) %>      
      <%= render Shared::CommandLine::Buttons::Component.new %>
    </div>
    
    <div data-controller="tabs" 
         data-tabs-active-tab="group inline-flex items-center pt-3 pb-2 px-4 font-semibold rounded-t-lg text-sm text-ruby bg-white"
         data-tabs-inactive-tab="group inline-flex items-center pt-3 pb-2 px-4 font-normal text-sm text-azure-tint-100 rounded-t-lg hover:text-gray-100 hover:bg-gray-500"
    >
      <%= render Tabs::Navigation::Component.new %>
    
      <div id="tabs-main" data-target="tabs.panel">
        <%= render Tabs::Main::Component.new(all_menu_cards_in_all_states: @all_menu_cards_in_all_states, initial_state: @initial_state, state_translation: @state_translation) %>
      </div>
      <div id="tabs-classics" data-target="tabs.panel">
        <%= render Tabs::Classics::Component.new(all_menu_cards_in_all_states: @all_menu_cards_in_all_states, initial_state: @initial_state, state_translation: @state_translation) %>
      </div>
      <%# <div id="tabs-power-user" data-target="tabs.panel"> %>
        <%# <%= render Tabs::PowerUser::Component.new(all_menu_cards_in_all_states: @all_menu_cards_in_all_states, initial_state: @initial_state, state_translation: @state_translation) %>
      <%# </div> %>
      <%# <div id="tabs-deployment" data-target="tabs.panel"> %>
        <%# <%= render Tabs::Deployment::Component.new %>
      <%# </div> %>
      <%# <div id="tabs-ci" data-target="tabs.panel"> %>
        <%# <%= render Tabs::Ci::Component.new %>
      <%# </div> %>
    </div>
    
    <%= render Shared::RailsBytesCombos::Component.new(rails_bytes_combos: @rails_bytes_combos) %>
    <%= render Shared::RailsBytesLocks::Component.new(rails_bytes_locks: @rails_bytes_locks) %>
    <%= render Shared::BaseStates::Component.new(base_states: @base_states) %>
  </div>