  <div data-controller="app-name">
    <%= render Main::Hero::Component.new %>
    
    <br>
      
    <%= render Main::AppNameInput::Component.new %>
    
    <div id="rails-new-command-generator-holder" data-controller="clipboard" class="flex-col bg-gray-700 pt-3 z-50">
      <%= render Main::CommandLine::Output::Component.new(initial_state: @initial_state, state_translation: @state_translation) %>
      <%= render Main::CommandLine::Buttons::Component.new %>
    </div>
        
    <%= render Main::MenuCard::Title::Component.new(title: "Customize A'la Carte") %>
    <%= render Main::MenuCard::RadioButton::Database::Component.new(initial_state: @initial_state, state_translation: @state_translation) %>
    <%= render Main::MenuCard::Checkbox::GuestFavorites::Component.new(initial_state: @initial_state, state_translation: @state_translation) %>
    
    <div class="animate-notice">Copied to Clipboard!</div>
  </div>