<li data-controller="rails-flag" 
    class="menu-card-row  text-ruby">
  <label class="flex items-center px-4 py-4 sm:px-6" data-target="rails-flag.name" data-command-output="<%= @command_output %>">
    <div class="min-w-0 flex-1 flex items-center">
      <div class="min-w-0 flex-1 px-4 md:grid md:gap-4">
        <div>
          <div class="menu-card-row-title text-sm leading-5 font-semibold truncate">
            <%= @title %>
          </div>
          <div class="menu-card-row-description mt-2 flex items-center text-sm leading-5 text-gray-500 max-w-lg truncate pr-10">
            <span><%= @description %></span></div>
        </div>
      </div>
    </div>
    <span id="<%= @html_id %>-rails-byte-lock"
          class="text-yellow-500 mr-4 <%= @display_locked_by_rails_bytes %>">
          ⚠️ Set and locked by a RailsByte!
    </span>
    <div>
      <input id="<%= @html_id %>"
             type="checkbox"              
             data-action="change->rails-flag#update"
             <%= @html_data_attributes %>
             <%= @checked_attribute %>
             autocomplete="off"
             <%= @display_locked_by_rails_bytes == 'hidden' ? '' : 'disabled' %>
             class="form-checkbox text-deep-azure-gamma h-4 w-4 text-indigo-600 transition duration-150 ease-in-out">
    </div>
  </label>
</li>
