<li class="hover:bg-yellow-100" data-controller="database-choice initial-state">
  <label class="flex items-center px-4 py-2 sm:px-6">
    <div class="min-w-0 flex-1 flex items-center">
      <div class="flex-shrink-0">
        <%= @icon %>
      </div>
      <div class="min-w-0 flex-1 px-4 md:grid md:gap-4 ">
        <div>
          <div class="text-sm leading-5 font-medium text-indigo-600 truncate">
            <%= @title %>
          </div>
          <div class="mt-2 flex items-center text-sm leading-5 text-gray-500 max-w-lg truncate pr-10">
            <span><%= @description %></span></div>
        </div>
        <div class="hidden md:block"></div>
      </div>
    </div>

    <div>      
      <input type="radio"
             data-action="change->database-choice#update change->initial-state#update" 
             data-target="database-choice.name"
             data-command-output="<%= @command_output %>"
             <%= @checked ? 'checked' : '' %>                     
             id="<%= @html_id %>"
             name="<%= @menu_card_id %>"
             value="<%= @title %>"             
             autocomplete="off"             
             class="form-radio h-4 w-4 text-indigo-600 transition duration-150 ease-in-out">
    </div>
  </label>
</li>