<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>RailsNewIo</title>
    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    
    <meta property="og:title" content="railsnew.io" />
    <meta property="og:locale" content="en_US" />
    <meta name="description" content="The simplest way to generate a new Rails app with (or without!) all the bells and whistles" />
    <meta property="og:description" content="The simplest way to generate a new Rails app with (or without!) all the bells and whistles" />
    <link rel="canonical" href="https://railsnew.io/" />
    <meta property="og:url" content="https://railsnew.io/" />
    <meta property="og:site_name" content="railsnew.io" />
    <meta name="twitter:card" content="summary" />
    <meta property="twitter:title" content="railsnew.io" />
    <meta name="twitter:site" content="@trinitytakei" />    
</head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
    <%= render Shared::Newsletter::Component.new %>
    <%= render Shared::Footer::Component.new %>
  </body>
</html>
