<!DOCTYPE html>
<html>
  <head>
    <title>RailsNewIo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>

  <body>
    <%= render Main::Navbar::Desktop::Component.new(items: ['ðŸ ï¸ Home', 'ðŸ¤” Why?', 'ðŸ“½ï¸ Live Demo', 'ðŸ“¨ About / Contact']) %>
    <%= render Main::Navbar::Mobile::Component.new(items: ['ðŸ ï¸ Home', 'ðŸ¤” Why?', 'ðŸ“½ï¸ Live Demo', 'ðŸ“¨ About / Contact']) %>    
    <%= yield %>
  </body>
</html>
